:root {
    --ds-shadow-fullscreen: 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --primary-color: teal;
}
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #faefef;
}
.box {
    margin: 50px auto;
    width: fit-content;
}

.label {
    font-size: 20px;
    margin-bottom: 10px;
    color: teal;
}

.task-input{
    padding: 0.5rem;
    border-radius: 100vmax;
border: 1px solid teal;
color: teal;
}
.task-input:focus-within{
    outline: teal;

}
.task-input::placeholder{
    font-size: 1rem;
    color: teal;
}



.delete{
    text-decoration: underline;
    color: tomato;
  margin: 0px 10px;
  display: inline-block;
  cursor: pointer;
}

.edit {
    color: rgb(100, 245, 100);
    text-decoration: underline;
}
/* modal */
.modal-overlay{
    background-color: #fff;
    opacity: 0.8;
    z-index: 100;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px; 
}

.modal-content {
    width: 300px;
    height: fit-content;
    border: 1px solid #ddd;
    box-shadow: var(--ds-shadow-fullscreen); 
    background-color: 333, 74%, 15%;
    padding: 20px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.close-button {
    all: unset;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

.btn-box button {
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    height: 35px;
    font-weight: 600;
    color: white;
    border-radius: 2px;
    margin-top: 20px;
    background-color: var(--primary-color);
    box-shadow: var(--ds-shadow-fullscreen);
}

.add-task{
    all:unset;
    border-radius: 100vmax;
    border: 1px solid teal;
    padding: 0.5em;
    color: teal;
    font-size: 01rem;
    background-color: #fff;
}

li{
list-style-type: none;
cursor: pointer;
color: teal;
}

.close {
    display: none;
}

.error-message{
    color: rgb(252, 131, 131);
}